* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: azure;
    text-align: center;
}

h1 {
    color: blue;
    font-size: 3em;
}

p {
    color: black;
}